html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.columntest1 {
  float: left;
  width: 300px;
}

.columntest2 {
display: flex;
}

.main-text-box{
  margin:10px;
}
/*map*/
#googleMap {
width: 100%;
height: 100%;
}